.container {
  position: relative;
  background-image: url('../../assets/images/warehouse.jpg');
  background-size: cover;
  background-position: center;
}

[data-amplify-router],
[data-amplify-router-content],
[data-amplify-authenticator-resetpassword] {
  background-color: #eee;
  border-radius: 10px;
}